/* Estilos Gerais */
body {
  font-family: "Fira Code", monospace;
  margin: 0;
  padding: 0;
  background-color: #1e1e1e;
  color: #d4d4d4;
  line-height: 1.6;
}

header {
  text-align: center;
  padding: 20px;
  background-color: #252526;
  color: #9cdcfe;
  border-bottom: 1px solid #333;
}

header h1 {
  font-size: 2.5rem;
}

header p {
  font-size: 1.2rem;
  color: #dcdcaa;
}

/* Currículo */
main.resume {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

section h2 {
  font-size: 1.5rem;
  color: #4ec9b0;
  border-bottom: 1px solid #333;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

section p,
section li {
  font-size: 1rem;
  margin: 5px 0;
}

section a {
  color: #9cdcfe;
  text-decoration: none;
}

section a:hover {
  text-decoration: underline;
}

/* Listas */
ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

.description {
  font-size: 0.9rem;
  color: #c586c0;
}

.year {
  font-size: 0.9rem;
  color: #dcdcaa;
}

/* Rodapé */
footer {
  text-align: center;
  padding: 10px;
  background-color: #252526;
  color: #dcdcaa;
  border-top: 1px solid #333;
}