header {
    position: absolute; /* Faz o header ficar acima do canvas */
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.1); /* Fundo semi-transparente */
  backdrop-filter: blur(10px);
  z-index: 10; /* Garante que o header fique acima do canvas */
}

.menu li {
    display: inline-block;
    text-align: right; /* Esse estilo faz mais sentido em um contexto específico */
    padding: 20px;
}

.menu li a {
    font-size: 25px;
    color: white;
    text-decoration: none;
}

* {margin:0;padding:0;
}

canvas {display:block;
}

body {background:black;
}